.App {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 1.5rem;
  width: 95vw;
  height: 95vh;
  text-align: center;
  background-color: white;
  border-radius: 15px;

}